/** COLOR SCHEMES **/
:root {
	--smoke-white: #f8f8f8;
	--main-black: #110c22;
	--gray-light: #110c22;
	--white: white;
	--gray: #4f4b5c;
	--purple: #773ef0;

	--md-text-font: Generalsans;
	--md-code-font: roboto mono;

	--md-primary-bg-color: #f8f8f8;
	--md-primary-bg-color--light: white;
	--md-primary-fg-color: #110c22;
}

[data-md-color-scheme="default"] {

	--md-footer-bg-color: white;
	--md-footer-fg-color: charcoal;
	--md-default-bg-color: white;
	--md-footer-fg-color--light: charcoal;
	--md-footer-fg-color--lighter: charcoal;

	.md-footer, .md-footer__inner, .md-footer-meta {
	  background-color: white;
	}
	h1, h2, h3, label {
		color: var(--main-black) !important;
	}
	.md-main {
		background-color: var(--smoke-white);
	}
	.md-nav__link, .md-nav__link>.md-ellipsis {
		background-color: var(--smoke-white) !important;
	}
}

[data-md-color-scheme="slate"] {
	
	--md-footer-bg-color: black;
	--md-default-bg-color: black;

	.md-sidebar__scrollwrap, .md-sidebar__inner {
		background-color: black !important;
	}
	label {
		background-color: black !important;
	}
	.md-nav--secondary {
		background-color: black !important;
	}
	.md-footer, .md-footer__inner, .md-footer-meta {
	  background-color: black !important;
	}
	h1, h2, h3, label, p {
		color: var(--smoke-white) !important;
	}
	.hero-subtext {
		color: var(--smoke-white) !important;
	}
	.grid-item {
		background-color: var(--gray) !important;
	}
	.section-wrapper {
		border-bottom: 1px solid var(--main-black);
	}
	.flex-card-child, .home-feature-card {
		background-color: var(--gray);
	}
	.md-icon {
		color: var(--gray);
	}
	.flex-card-item:hover {
		background-color: var(--gray);
	}
}
/** END OF COLOR SCHEMES **/



/** TEXT ELEMENTS **/
h1 {
	margin-top: 0;
	margin-bottom: 0 !important;
	font-size: 38px;
	font-weight: 600 !important;
	line-height: 44px;
	font-family: Generalsans, sans-serif !important;
}

h2 {
	margin-top: 0;
	margin-bottom: 0 !important;
	font-size: 32px;
	font-weight: 600 !important;
	line-height: 36px;
	font-family: Generalsans, sans-serif !important;
}

div.main h1 {
	margin-top: 0 !important;
}

div.main h2 {
	margin-top: 0 !important;
}

h3 {
	margin-bottom: 0 !important;
	margin-top: 0px;
	font-size: 24px;
	margin-block-start: 0px;
	margin-block-end: 0px;
	font-weight: 600 !important;
	line-height: 1.2;
	color: var(--main-black) !important;
	font-family: Generalsans, sans-serif !important;
}

h4, h5 {
	font-family: Generalsans, sans-serif !important;
}

div.main p {
	color: var(--gray);
	margin-bottom: 0;
	font-weight: 500;
	line-height: 1.6;
}
/** END OF TEXT ELEMENTS **/


/** PAGE ELEMENTS **/
.md-tabs__item--active {
	color: var(--purple) !important;
	font-weight: 800 !important;
}

.md-nav--lifted>.md-nav__list>.md-nav__item--active>.md-nav__link {
	box-shadow: none;
}

.md-nav__item .md-nav__link--active,
.md-nav__item .md-nav__link--active code {
  color:var(--purple) !important;
}
.md-sidebar__scrollwrap, .md-sidebar__inner, .md-nav--secondary, .md-nav__title {
	box-shadow: none !important;
	background-color: var(--smoke-white) !important;

}
/** END OF PAGE ELEMENTS **/



/** MAIN FRONT PAGE AND SECTION FRONT PAGES **/
img.figure {
	margin: 0 auto;
	display: block;
}

div.flex-figure {
	display: flex;
}

div.flex-figure div.flex-figure-left {
	flex-grow: 1;
	flex-shrink: 5;
}

div.flex-figure div.flex-figure-right {
	flex-grow: 2;
}

.feature-paragraph {
	text-align: left;
	margin-block-start: 0px;
    margin-block-end: 0px;
}

.md-header--shadow {
	box-shadow: none !important;
}

div.main div.flexbox a {
	color: var(--main-black) !important;
}

div.main .nav-bar {
	background-color: var(--smoke-white);
	border-bottom: 1px solid rgba(0, 0, 0, .12);
	padding: 10px 108px;
}

div.main .container-global {
	width: 100%;
	max-width: 1224px;
	margin-left: auto;
	margin-right: auto;
}

div.main .nav-menu {
	grid-column-gap: 24px;
	grid-row-gap: 24px;
	align-items: center;
	display: flex;
}

div.main .nav-link {
	color: var(--gray);
	padding: 2px 0;
	font-weight: 500;
	transition: color .2s;
}

div.main .nav-link:hover {
	color: var(--gray-light);
}

div.main .nav-link.w--current {
	color: var(--purple);
	font-weight: 600;
}

div.main .nav-content {
	grid-row-gap: 20px;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	display: flex;
}

.hero-content-flex {
	grid-column-gap: 3rem;
	grid-row-gap: 3rem;
	justify-content: space-between;
	align-items: flex-start;
	display: flex;
	position: relative;
	bottom: 50px;
}

.hero-content-flex.product-hero-flex {
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
}

.hero-left {
	max-width: 580px;
}

.hero-right {
	flex: 0 auto;
}

.hero-right.is-big {
	min-width: 50%;
}

.hero-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero-heading {
	color: var(--main-black) !important;
	margin-bottom: 16px !important;
	font-size: 48px !important;
	line-height: 1.3 !important;
	font-weight: 1000;
	max-width: 400px;
}

.hero-subtext {
	color: var(--gray);
	font-weight: 500;
}

.flexbox-2-col {
	grid-column-gap: 24px;
	grid-row-gap: 24px;
	justify-content: space-between;
	display: flex;
}

.flex-card-child {
	width: 100%;
	background-color: var(--white);
	border: 1px solid rgba(0, 0, 0, .08);
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0 2px 4px rgba(17, 12, 34, .1);
}

.flex-card-item {
	color: var(--gray);
	border-bottom: 1px solid #ececed;
	flex-direction: column;
	align-items: flex-start;
	padding: 18px 24px;
	text-decoration: none;
	transition: background-color .2s, color .2s;
	display: flex;
}

.flex-card-item:hover {
	color: var(--purple);
	background-color: #f8f8f8;
}

.flex-card-item.header-item {
	padding-top: 24px;
	padding-bottom: 24px;
}

.flex-card-item.header-item:hover {
	color: var(--gray);
	background-color: #fff;
}

.flex-card-item.last-item {
	border: 1px #000;
}

.heading-h3 {
	margin-bottom: 8px;
	font-size: 22px;
	margin-block-start: 0px;
	margin-block-end: 0px;
}

.heading-h3.margin-none {
	margin-bottom: 0;
	margin-block-start: 0px;
	margin-block-end: 0px;
}

.feature-paragraph {
	color: var(--gray-light);
	font-size: 14px;
	font-weight: 500;
	line-height: 1.6;
}

.feature-card-heading {
	color: --purple;
	font-size: 18px;
	font-weight: 600;
}

.section-wrapper {
	border-bottom: 1px solid #ececed;
	padding-top: 48px;
	padding-bottom: 48px;
}

.section-wrapper.product-section-head {
	padding-top: 0;
}

.section-header-wrapper {
	margin-bottom: 48px;
}

.heading-h2 {
	margin-bottom: 8px;
	line-height: 1.3;
}

.heading-h2.product {
	color: var(--main-black);
	margin-bottom: 16px;
}

.home-section-subtext.max-width-applied {
	max-width: 72%;
}

.flexbox {
	grid-column-gap: 24px;
	grid-row-gap: 24px;
	display: flex;
}

.flexbox.items-4 {
	margin-top: 24px;
}

.home-feature-card {
	width: 100%;
	min-height: 200px;
	grid-column-gap: 24px;
	grid-row-gap: 24px;
	background-color: var(--white);
	color: var(--main-black);
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 12px;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 24px;
	text-decoration: none;
	transition: color .2s, border-color .2s;
	display: flex;
	box-shadow: 0 6px 16px -2px rgba(17, 12, 34, .1);
}

.home-feature-card:hover {
	color: var(--purple);
	border: 1px solid #c6c5ca;
}

.feature-icon {
	width: 32px;
	height: auto;
}

.feature-content-name {
	font-size: 22px;
	font-weight: 600;
	line-height: 1.2;
	display: inline;
}

.paragraph-small {
	font-size: 14px;
}

.feature-content-wrapper {
	grid-column-gap: 8px;
	grid-row-gap: 8px;
	margin-bottom: 8px;
}
.polygon-docs-link {
	grid-column-gap: 8px;
	grid-row-gap: 8px;
	color: var(--main-black);
	align-items: center;
	padding: 8px;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	display: flex;
}

.site-wrapper {
	padding-left: 108px;
	padding-right: 108px;
}

.product-page-flex {
	grid-column-gap: 48px;
	grid-row-gap: 48px;
	justify-content: space-between;
	display: flex;
}

.product-sidebar {
	width: 25%;
	align-self: flex-start;
	position: -webkit-sticky;
	position: sticky;
	top: 32px;
}

.product-content {
	width: 75%;
	border-left: 1px solid #ececed;
	padding-left: 48px;
}

.side-bar-link {
	width: 100%;
	color: var(--main-black);
	border-radius: 8px;
	margin-bottom: 8px;
	padding: 8px 12px;
	font-weight: 500;
	line-height: 1.5;
	text-decoration: none;
	transition: all .25s;
}

.side-bar-link:hover {
	background-color: rgba(217, 216, 220, .25);
}

.side-bar-link.w--current {
	background-color: #d9d8dc;
	font-weight: 600;
}

.product-info {
	color: var(--gray);
}

.product-link-span {
	color: #773ef0;
}

.code-label {
	grid-column-gap: 8px;
	grid-row-gap: 8px;
	color: var(--gray);
	align-items: center;
	margin-top: 16px;
	font-size: 14px;
	font-weight: 500;
	display: flex;
}

.purple-circle {
	width: 8px;
	height: 8px;
	background-color: var(--purple);
	border-radius: 50%;
}

.nav-menu-btn {
	padding: 8px;
}

.search-trigger {
	justify-content: space-between;
	align-items: center;
	display: none;
}

.mobile-search-close {
	display: none;
}

.nav-content-left {
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	flex-direction: column;
	display: flex;
}

.product-list-header {
	grid-column-gap: 8px;
	grid-row-gap: 8px;
	align-items: center;
	margin-bottom: 8px;
	display: flex;
}

.status-tag {
	color: var(--purple);
	background-color: #ebe1ff;
	border-radius: 4px;
	margin-left: 26px;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 11px;
	font-weight: 600;
}

.product-list-item-header {
	grid-row-gap: 12px;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-bottom: 8px;
	display: flex;
	position: relative;
}

.hidden {
	display: none;
}

.arrow-embed {
	width: 16px;
	min-width: 16px;
	margin-left: 8px;
	margin-right: -16px;
	display: inline-block;
}
* {
	box-sizing: border-box;
}
.grid-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 10px;
	align-items: stretch;
}
.grid-item {
	background-color: white;
	border-radius: 8px;
	-webkit-box-shadow: 0 8px 16px 0 rgb(17 17 17 / 8%);
	box-shadow: 0 8px 16px 0 rgb(17 17 17 / 8%);
	padding: 33px;
	margin: 5px;
	text-align: center;
	align-items: center;
	flex: 32%;
	width: 32%;  
}
@media screen and (max-width: 1000px) {
	.grid-item {
	flex: 32%;
	max-width: 32%;
	}
}
@media screen and (max-width: 800px) {
	.grid-item {
	flex: 48%;
	max-width: 48%;
	}
}
@media screen and (max-width: 600px) {
	.grid-item {
	flex: 100%;
	max-width: 100%;
	}
}

@media screen and (max-width: 991px) {
	.nav-bar {
		padding-left: 32px;
		padding-right: 32px;
	}

	.nav-menu {
		width: 90vw;
		background-color: var(--smoke-white);
		flex-direction: column;
		padding: 80px 24px 24px;
	}

	.nav-link {
		margin-bottom: 12px;
		padding-top: 8px;
		padding-bottom: 8px;
		font-size: 24px;
	}

	.nav-content {
		flex-direction: row;
		align-items: center;
	}

	.section {
		padding-left: 32px;
		padding-right: 32px;
	}

	.hero-content-flex {
		grid-row-gap: 32px;
		flex-direction: column;
	}

	.hero-left {
		width: 100%;
		max-width: none;
	}

	.hero-right {
		width: 100%;
	}

	.flexbox-2-col {
		grid-column-gap: 12px;
	}

	.section-wrapper {
		padding-top: 32px;
		padding-bottom: 32px;
	}

	.section-header-wrapper {
		margin-bottom: 32px;
	}

	.flexbox {
		grid-column-gap: 12px;
		grid-row-gap: 12px;
	}

	.flexbox.items-4 {
		margin-top: 12px;
	}

	.site-wrapper {
		padding-left: 32px;
		padding-right: 32px;
	}

	.product-page-flex {
		padding-top: 0;
	}

	.product-sidebar {
		display: none;
	}

	.product-content {
		width: 100%;
		border-left-style: none;
		padding-left: 0;
	}

	.polygon-docs-text {
		display: none;
	}

	.nav-menu-btn {
		color: var(--white);
	}

	.nav-menu-btn.w--open {
		z-index: 5;
		background-color: var(--smoke-white);
	}

	.menu-icon {
		width: 24px;
		height: 24px;
	}

	.nav-content-left {
		grid-column-gap: 8px;
		grid-row-gap: 8px;
		flex-direction: row;
		align-items: center;
	}

	.nav-closer {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.nav-bar {
		padding-left: 12px;
		padding-right: 12px;
	}

	.nav-menu {
		-webkit-backdrop-filter: blur(6px);
		backdrop-filter: blur(6px);
		padding-left: 12px;
	}

	.nav-brand.w--current {
		padding-left: 0;
	}

	.nav-content {
		grid-row-gap: 8px;
	}

	.section {
		padding-left: 12px;
		padding-right: 12px;
	}

	.hero-heading {
		font-size: 32px;
	}

	.hero-subext {
		font-size: 14px;
	}

	.flexbox-2-col {
		flex-direction: column;
	}

	.section-wrapper {
		padding-top: 24px;
		padding-bottom: 24px;
	}

	.heading-h2.product {
		margin-bottom: 8px;
		font-size: 24px;
	}

	.flexbox {
		grid-column-gap: 24px;
		grid-row-gap: 24px;
		flex-direction: column;
	}

	.search-wrapper {
		top: 0%;
	}

	.search-block {
		width: 100%;
		height: 100%;
		-webkit-backdrop-filter: blur(3px);
		backdrop-filter: blur(3px);
		background-color: rgba(255, 255, 255, .32);
		padding-top: 24px;
		display: none;
		position: fixed;
		top: 6%;
		bottom: 0%;
		left: 0%;
		right: 0%;
	}

	.search-form {
		height: 100%;
		padding-left: 12px;
		padding-right: 12px;
	}

	.search-bar {
		max-width: none;
		min-width: 0;
	}

	.site-wrapper {
		padding-left: 12px;
		padding-right: 12px;
	}

	.nav-menu-btn {
		padding: 2px;
	}

	.search-icon-mobile {
		width: 24px;
		height: auto;
	}

	.mobile-search-icon {
		padding: 8px;
	}

	.search-trigger {
		cursor: pointer;
		justify-content: space-between;
		display: flex;
	}

	.mobile-search-close {
		padding: 8px;
		display: none;
	}

	.nav-content-left {
		grid-column-gap: 4px;
		grid-row-gap: 4px;
	}

	.search-close-mobile {
		width: 20px;
		height: auto;
	}

	.nav-hamburger,
	.nav-closer {
		width: 28px;
		height: 28px;
	}
}

@media screen and (max-width: 479px) {
	.nav-brand.w--current {
		padding-left: 0;
	}
}
/** END OF SECTION FRONT PAGES **/