[data-md-color-scheme="slate"] {
	--md-footer-bg-color: black;

	.md-footer,
	.md-footer__inner,
	.md-footer-meta {
		background-color: black;
	}
}

[data-md-color-scheme="default"] {
	--md-footer-bg-color: white;
	--md-footer-fg-color: charcoal;
	--md-default-bg-color: white;
	--md-footer-fg-color--light: charcoal;
	--md-footer-fg-color--lighter: charcoal;

	.md-footer,
	.md-footer__inner,
	.md-footer-meta {
		background-color: white;
	}
}

img.figure {
	margin: 0 auto;
	display: block;
}

div.flex-figure {
	display: flex;
}

div.flex-figure div.flex-figure-left {
	flex-grow: 1;
	flex-shrink: 5;
}

div.flex-figure div.flex-figure-right {
	flex-grow: 2;
}

.feature-paragraph {
	text-align: left;
}
* {
box-sizing: border-box;
}
.grid-container {
display: flex;
flex-wrap: wrap;
width: 100%;
padding: 10px;
align-items: stretch;
}
.grid-item {
background-color: white;
border-radius: 8px;
-webkit-box-shadow: 0 8px 16px 0 rgb(17 17 17 / 8%);
box-shadow: 0 8px 16px 0 rgb(17 17 17 / 8%);
padding: 33px;
margin: 5px;
text-align: center;
align-items: center;
flex: 32%;
width: 32%;  
}
@media screen and (max-width: 1000px) {
.grid-item {
flex: 32%;
max-width: 32%;
}
}
@media screen and (max-width: 800px) {
.grid-item {
flex: 48%;
max-width: 48%;
}
}
@media screen and (max-width: 600px) {
.grid-item {
flex: 100%;
max-width: 100%;
}
}