[data-md-color-scheme="slate"] {
  --md-footer-bg-color: black;
  .md-footer, .md-footer__inner, .md-footer-meta {
    background-color: black;
  }
}

[data-md-color-scheme="default"] {
  --md-footer-bg-color: white;
  --md-footer-fg-color: charcoal;
  --md-default-bg-color: white;
  --md-footer-fg-color--light: charcoal;
  --md-footer-fg-color--lighter: charcoal;
  .md-footer, .md-footer__inner, .md-footer-meta {
    background-color: white;
  }
}

img.figure {
  border: 5px solid #ae6fdb !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  max-width: 80%;
  display: block;
}

div.flex-figure {
  display: flex;
  
}

div.flex-figure div.flex-figure-left {
  flex-grow: 2;
}

div.flex-figure div.flex-figure-right {
  flex-grow: 1;
  flex-shrink: 1.5;
}


/*
.md-footer, .md-footer__inner, .md-footer-meta {
    background-color: black;
}
*/

.md-footer__inner {
  display: none !important;
}