div.section-nav {
}

div.section-nav .section-nav-item {
	border-radius: 20px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
	padding: 10px 10px 10px 220px;
	height: 150px;
	margin: 40px 0;
	max-width: 700px;
	background-position: left;
	background-size: auto 200px;
	background-repeat: no-repeat;

}

div.section-nav .section-nav-item h2 {
	margin: 0 0 0px 0;
}

div.section-nav .section-nav-item p {
	font-size: 0.8em;
}